{% load static %}

{% load crispy_forms_tags %}

<div class="col-md-8">
<div class="card card-user">
  <div class="card-header">

    <h4 class="card-title m-2">{{ article.title }}</h4>

  </div>
  <div class="card-body ml-3 mr-3">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                {{ form }}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-2">
                <input type="submit" value="Upload" class="btn btn-primary">
            </div>
            <div class="col-md-2">
                <a href="{% url 'list-articles' %}" class="btn btn-link">Cancel</a>
            </div>
        </div>
    </form>
  </div>
</div>
</div>
