{% load static %}

{#<div class="container-fluid">#}
{#  <div class="row">#}
{#    <nav class="footer-nav">#}
{#      <ul>#}
{#        <li><a href="#" target="_blank">Previous</a></li>#}
{#        <li><a href="#" target="_blank">Page 2 of 5</a></li>#}
{#        <li><a href="#" target="_blank">Next</a></li>#}
{#      </ul>#}
{#    </nav>#}
{#    <div class="credits ml-auto">#}
{#      <span class="copyright">#}
{#        <p>Prepared for <strong>Reliable Controls</strong> by <strong>Alex Alves</strong></p>#}
{#      </span>#}
{#    </div>#}
{#  </div>#}
{#</div>#}