{% load static %}


<!-- metas -->
<meta charset="utf-8">
<meta name="author" content="Alex Alves" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' />

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

<!-- Fonts and icons -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

<!-- CSS Files -->
<link href="{% static 'vendors/paper/css/bootstrap.min.css' %}" rel="stylesheet" />
<link href="{% static 'vendors/paper/css/paper-dashboard.css' %}?v=2.0.1" rel="stylesheet" />

<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="{% static 'vendors/paper/demo/demo.css' %}" rel="stylesheet" />

<!-- local -->
<link href="{% static 'kb/css/local.css' %}" rel="stylesheet" type="text/css">